/* Base */
@import 'base/variables';
@import 'base/mixin';

/* Componentes */
/* BODY */
@import'components/body';
/* HEADER */
@import 'components/header';
/* MAIN */
@import'components/main';
/* FOOTER */
@import 'components/footer';
/* MEDIA */
@import 'components/media';

/* PAGES */
/* UBICACION */
@import 'pages/ubicacion';