header {
    background-image: url(../IMG/hermosa-vista-lago-rodeado-montanas-lago-longrin-presa-suiza_181624-27908.jpg);
    height: 40rem;
    background-position: center center;
    background-size: cover;

}

.navbar {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    
    .navbar__links {
        list-style: none;
        border: 6rem;
        border-color: map-get($colors, color-blue);

        li{
            margin-left: 1rem;

            a {
                text-decoration: none;
                color: map-get($colors, color-white);
                font-size: 1.5rem;
            }
        }
    }

    .navbar__logo {
        width: 15rem;
    }
}