//Variables

//Colores
$color-black: #000000;
$color-cream: #e0c9a6;
$color-yellow: #e2e62c;
$color-white: #f0f8ff;
$color-orange: #dba758;

$colors: (
    "color-black": #000000,
    "color-cream": #e0c9a6,
    "color-yellow": #e2e62c,
    "color-white": #f0f8ff,
    "color-blue": #0000ff,
    "color-orange": #dba758
);